= simple_form_for shallow_args(@presentation.event, @presentation) do |f|
  .form-inputs
    = f.input :event_id, as: :hidden
    = f.association :category
    = f.input :title
    = f.input :description
    = f.input :video
  .form-actions
    = f.button :submit, "save"
