= simple_form_for shallow_args(@document.presentation, @document) do |f|
  .form-inputs
    = f.input :presentation_id, as: :hidden
    = f.input :title
    = f.input :description
  .form-actions
    = f.button :submit, "save"
