%p#notice= notice

%p
  %b Title:
  = @document.title
%p
  %b Description:
  = @document.description

= link_to 'Edit', edit_document_path(@document)
= link_to 'Back', presentation_path(@document.presentation)
