:coffee
  setMap = (address, latitude, longitude, zoom) ->
    $("#map_canvas").googleMaps
      address: address
      latitude: ""
      longitude: ""
      collback: (latitude, longitude) ->
        $("#place_latitude").val latitude
        $("#place_longitude").val longitude
      zoom_collback: (zoom) ->
        $("#place_zoom_level").val zoom
    ,
      zoom : zoom
  $ ->
    $("#search").on 'click', (event) ->
      address = $('#place_address').val()
      zoom = parseInt($('#place_zoom_level').val())
      setMap(address,"","", zoom)
    $("#place_postcode").on 'keyup', (event) ->
      AjaxZip3.zip2addr(this,'','place[prefecture]','place[address]')

= simple_form_for @place do |f|
  .form-inputs
    = f.input :name
    = f.input :postcode
    = f.input :prefecture
    = f.input :address
    = f.input :latitude
    = f.input :longitude
    = f.input :zoom_level

  %input{type: 'button', value: '住所から緯度経度を取得', id: 'search'}

  #map_canvas.map
  .form-actions
    = f.button :submit, "save"

