= simple_form_for @place do |f|
  .form-inputs
    = f.input :name
    = f.input :postcode
    = f.input :prefecture
    = f.input :address
    = f.input :latitude
    = f.input :longitude
    = f.input :zoom_level

  %input{type: 'button', value: '住所から緯度経度を取得', id: 'search'}

  #map_canvas.map
  .form-actions
    = f.button :submit, "save"

