%p#notice= notice
%p
  %strong Name:
  = @place.name

%p
  %b Adress:
  = [@place.postcode, @place.prefecture, @place.address].join(' ')

#data_attr{data: {place: @place.to_json, path: 'place_show'}}

.map{id: "map_canvas#{@place.id}"}

= link_to 'Edit', edit_place_path(@place)
= link_to 'Back', places_path
